#site-navigation>.nav-menu>.menu-item{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: transparent;
    transition: all .4s;
}

#site-navigation>.nav-menu>.menu-item:hover{
    color: #cb0802;
    border-bottom-color: #cb0802;
}

#site-navigation>.nav-menu>.menu-item.has-child::after{
    font-family: xeicon;
    content: "\e942";
}

#searchForm{
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}