@charset "UTF-8";

#content {width: 1280px;margin-top: 20px;}

#information {margin-left: 50px;}

#myInformation {margin-top: 20px;}


#hr{border :2px green solid ; background:green; margin-bottom:20px}

#sponList {margin-top: 20px;}

#wishList {margin-top: 20px;}

button {margin-left: 10px}

#address {width: 700px;}

#addr1 {margin-bottom: 5px}

#updateButton {margin-left: 500px;margin-bottom: 20px}

#dokdo {margin-left: 35px;margin-top: 20px;margin-bottom: 20px}

#sponGoods {margin-top: 20px;margin-bottom: 20px;}

#passwordButton {margin-left: 370px}

#table{margin:0 auto;margin-bottom:20px}
