@charset "UTF-8";

.notice_menu_item{
	margin-top:10px;
	width:120px;
	height:50px;
}   
.notice_menu_item>a{
	margin-left:10px;
}
#tab_01{
	background-color:#75211f;
} 

.card{
	margin-top:40px;
	width:800px;
}
.notice-menu{
	margin-left:320px; 
} 

